img {
  width: 30%;
  border-radius: 8px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

body {
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  padding: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 600;
    font-size: 32px;
    color: #5288bf;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    justify-content: center;
  }

  .name {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .title-location {
    margin: auto;
    color: #808080;
  }

  p {
    line-height: 28px;
    margin: auto;
    color: #333333;
  }

  .navbar ul {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  .navbar a.active {
    font-weight: bold;
    color: black;
  }
  .navbar a:hover {
    color: #5288bf;
  }
  .cta-button a {
    text-decoration: none;
    color: #5288bf;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
  }
  .cta-button a:hover {
    color: #315375;
  }
}
